@import '../config/_config.scss';
// resets

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
p,
a,
ul,
li {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: ninomtavruli;
    src: url(../ninomtavruli.ttf);
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: ninomtavruli;
    background-color: $mainbackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden !important;
}

//scrollbar

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $mainbackground;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(168.82deg, #FB37FF 0%, $mainbackground 40%, $mainbackground 60%, #1BB2DE 100%);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(168.82deg, #1BB2DE 0%, $mainbackground 40%, $mainbackground 60%, #FB37FF 100%);
}



// common 
a {
    text-decoration: none;
    color: white;
}

// loader 

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: $mainbackground;
    transition: 500ms ease;

    &.remove {
        opacity: 0;
    }
}

@mixin obj($w, $h, $bg) {
    width: $w;
    height: $h;
    background: $bg;
}

@mixin anim($listName, $delay) {
    @each $currentBox in $listName {
        $i: index($listName, $currentBox);

        &:nth-child(#{$currentBox}) {
            animation-delay: 0.1s * $i + $delay;
        }
    }
}

.wrapper {
    width: 200px;
    height: 200px;
}

ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    animation: rot 16s linear infinite;

    @keyframes rot {
        100% {
            transform: rotate(360deg);
        }
    }
}

li {
    @include obj(40px, 40px, linear-gradient(90deg, #1BB2DE 30%, #FB37FF 70%));
    border-radius: 4px;
    box-shadow: 0 0 1px #fff, 0 0 5px #1bb1de3f, 0 0 10px #1bb1de3f, 0 0 15px #1bb1de3f, 0 0 25px #1bb1de3f, 0 0 55px #1bb1de3f;
    animation: scale 0.8s linear alternate infinite;
    list-style-type: none;

    @keyframes scale {
        100% {
            transform: scale(.1);
            opacity: 0;
        }
    }

    @for $i from 1 through 25 {
        &:nth-child(#{$i}) {
            z-index: 25 - $i;
        }
    }

    @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
            animation-delay: 0.1s * $i;
        }

        &:nth-child(#{$i + 6}) {
            @if ($i<5) {
                animation-delay: 0.1s * $i + 0.2s;
            }
        }

        &:nth-child(#{$i + 12}) {
            @if ($i<4) {
                animation-delay: 0.1s * $i + 0.4s;
            }
        }

        &:nth-child(#{$i + 18}) {
            @if ($i<3) {
                animation-delay: 0.1s * $i + 0.6s;
            }
        }

        &:nth-child(#{$i + 23}) {
            @if ($i<2) {
                animation-delay: 0.1s * $i + 0.8s;
            }
        }
    }

    $fCol: 1 6 11 16 21;
    @include anim($fCol, 0);

    $sCol: 7 12 17 22;
    @include anim($sCol, 0.2s);

    $tCol: 13 18 23;
    @include anim($tCol, 0.4s);

    $foCol: 19 24;
    @include anim($foCol, 0.6s);

    &:nth-child(25) {
        animation-delay: 0.9s;
    }
}


// private
nav {
    width: 100%;
    height: 85px;
    // background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;

    .navwrap {
        width: 1366px;
        padding: 0 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            text-transform: uppercase;
            text-decoration: none;
        }

        .mainlogo {
            padding: 5px 0;
            font-size: 25px;
            line-height: 22px;
            font-weight: 700;
            font-style: normal;
            padding: 2px 0px;
            letter-spacing: 1.5px;
            background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .navlinks {
            display: flex;

            @media (max-width: $medium) {
                display: none;
            }

            a {
                font-size: 12px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 1.5px;
                text-align: left;
                margin: 0 32px;
                color: $litegray;
                transition: 500ms ease;

                @media (max-width: $large) {
                    margin: 0 10px;
                }

                &:hover {
                    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;

                }
            }
        }

        .navbtns {
            display: flex;
            align-items: center;

            @media (max-width: $medium) {
                display: none;
            }

            a {
                color: #BCBCBC;
            }

            .create {
                border: 1px solid #D7D7D7;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 12px 36px;
                margin-right: 32px;

                @media (max-width: $large) {
                    margin-right: 10px;
                    padding: 12px 20px;

                }

                &:hover {
                    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }

            .signin {
                &:hover {
                    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }

        .burger {
            display: none;
            width: 40px;
            height: 40px;
            flex-direction: column;
            justify-content: space-around;
            cursor: pointer;

            @media (max-width: $medium) {
                display: flex;
            }

            &:hover {
                .line {
                    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
                }
            }

            .line {
                width: 100%;
                height: 5px;
                background-color: white;
                transition: 500ms ease;
            }
        }
    }
}

.burgermenu {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $mainbackground;
    z-index: 100;
    // transform: translateX(100%);
    right: -100%;
    transition: 500ms ease;

    &.active {
        right: 0;
    }

    .closebtn {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        cursor: pointer;

        &:hover {
            .linewrap:nth-child(2) {
                filter: blur(5px);
            }
        }

        .linewrap {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: 500ms ease;
        }

        .line {
            position: absolute;
            left: 15px;
            content: ' ';
            height: 33px;
            width: 3px;
            background: linear-gradient(180deg, #9B51E0 2.84%, #3081ED 99.18%);

            &:nth-child(1) {
                transform: rotate(45deg);
            }

            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }

    .links {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;

        .linkwrap {
            display: grid;
            
            a {
                padding: 10px 0;
                font-size: 24px;
                font-weight: 700;
                line-height: 22px;
                letter-spacing: 1.5px;
                text-align: left;
                margin: 0 32px;
                color: $litegray;
                transition: 500ms ease;
                text-transform: uppercase;
                background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                grid-column: 1;
                grid-row: 1;
                text-align: center;

                &:hover {
                    &:nth-child(2) {
                        filter: blur(8px);
                    }
                }
            }
        }
    }
}

.home {
    max-width: 1700px;
    margin: 0 20px;
    margin-top: 150px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $extralarge) {
        flex-direction: column;
    }

    .left {
        width: 45%;

        @media (max-width: $extralarge) {
            width: 100%;
            margin-bottom: 64px;
        }

        .title {
            color: white;
            font-size: 72px;
            font-weight: 600;
            line-height: 82px;
            letter-spacing: -2px;
            text-align: left;
            padding-bottom: 24px;

            @media (max-width: $extralarge) {
                text-align: center;
            }

            @media (max-width: $medium) {
                font-size: 50px;
                line-height: 60px;
            }

            @media (max-width: $extrasmall) {
                font-size: 40px;
                line-height: 50px;
                padding: 0 10px;
            }
        }

        .desc {
            color: white;
            font-size: 24px;
            font-weight: 400;
            line-height: 36px;
            letter-spacing: 0.5px;
            text-align: left;
            padding-bottom: 32px;

            @media (max-width: $extralarge) {
                text-align: center;
            }

            @media (max-width: $medium) {
                font-size: 15px;
                line-height: 25px;
            }
        }

        .btns {
            display: flex;

            // position: relative;
            // box-sizing: border-box;
            @media (max-width: $extralarge) {
                justify-content: center;
            }

            @media (max-width: $small) {
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 2rem;
                //   min-height: 200px;
            }


            .explorewrap {
                margin-right: 40px;
                position: relative;
                display: grid;
                align-items: center;
                box-sizing: border-box;
                min-height: 60px;
                min-width: 222px;

                @media (max-width: $small) {
                    margin-right: 0px;
                }
            }

            .explore:first-child {
                filter: blur(20px);
                z-index: -1;
            }

            .explore {
                background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
                border-radius: 16px;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                padding: 12px 68px;
                box-sizing: border-box;
                grid-row: 1;
                grid-column: 1;
                // position: absolute;
            }

            .createwrap {
                // width: 222px;
                display: flex;
                align-items: center;
                box-sizing: border-box;
            }

            .create {
                border: 1px solid white;
                border-radius: 16px;
                font-weight: 600;
                font-size: 24px;
                line-height: 36px;
                padding: 12px 68px;
                box-sizing: border-box;
            }
        }
    }

    .rightborder {
        background: linear-gradient(168.82deg, #FB37FF 1.7%, rgba(155, 111, 238, 0) 27.12%, rgba(123, 127, 234, 0) 61.28%, #1BB2DE 99.52%);
        border-radius: 35px;
        padding: 1px;
        width: 505px;
        height: 585px;
        position: relative;

        @media (max-width: $small) {
            width: 405px;
            height: 485px;
        }

        @media (max-width: $extrasmall) {
            width: 305px;
            height: 385px;
        }

        .pink {
            width: 120px;
            height: 120px;
            position: absolute;
            background-color: $neonpink;
            border-radius: 50%;
            filter: blur(70px);
            left: 0;
            top: 0;
            transform: translate(-50%, -50%);
            pointer-events: none;

            @media (max-width: $extrasmall) {
                left: 50%;
            }
        }

        .blue {
            width: 120px;
            height: 120px;
            position: absolute;
            background-color: $neonblue;
            border-radius: 50%;
            filter: blur(70px);
            bottom: 0;
            right: 0;
            transform: translate(50%, 50%);
            pointer-events: none;

            @media (max-width: $extrasmall) {
                right: 50%;
            }

        }
    }

    .right {
        background-color: $mainbackground;
        border-radius: 35px;
        width: 100%;
        height: 100%;

        .contentwrap {
            padding: 30px;
        }

        .imgwrap {
            // width: 447px;
            // height: 448px;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: auto;
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
            margin-top: 35px;

            .author {
                display: flex;

                .authorimgwrap {
                    width: 50px;
                    height: 50px;
                    margin-right: 12px;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .price {
                    color: white;
                }
            }

            .rating {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                color: white;

                .like {
                    display: flex;
                    align-items: center;

                    ion-icon {
                        width: 22px;
                        height: 22px;
                        margin-right: 10px;
                    }
                }
            }
        }


    }
}

.hotauctions {
    max-width: 1700px;
    margin: 0 20px;
    margin-top: 150px;
    box-sizing: border-box;

    .titlewrap {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $extrasmall) {
            flex-direction: column;
            justify-content: center;
        }

        h1 {
            font-size: 48px;
            font-weight: 500;
            line-height: 72px;
            letter-spacing: -1px;
            text-align: left;

            @media (max-width: $mini) {
                font-size: 30px;
            }
        }

        a {
            font-size: 24px;
            font-weight: 600;
            line-height: 36px;
            letter-spacing: -1px;
            text-align: left;

            @media (max-width: $mini) {
                font-size: 20px;
            }
        }
    }

    .aucitonswrap {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .auction {
            width: $aucitonsize;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            margin-left: 10px;
            margin-right: 10px;

            @media (max-width: $extrasmall) {
                width: $aucitonsizesmall;
            }

            .imgwrap {
                width: 100%;
                height: $aucitonsize;
                position: relative;

                @media (max-width: $extrasmall) {
                    height: $aucitonsizesmall;
                }

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    &:first-child {
                        filter: blur(20px);
                    }
                }
            }

            .pricewrap {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;
                color: white;

                p {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding: 0 5px;
                }
            }

            .line {
                border: 1px solid #C4C4C4;
                margin-top: 16px;
                margin-bottom: 24px;
            }

            .timeleft {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: $extrasmall) {
                    flex-direction: column;
                    gap: 10px;
                }

                p {
                    color: $litegray;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;

                    span {
                        color: white;
                    }
                }

                a {
                    padding: 3px 24px;
                    border: 1px solid #E2E2E2;
                    box-sizing: border-box;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;

                }
            }
        }
    }
}

.features {
    margin-top: 160px;

    .title {
        font-size: 45px;
        line-height: 72px;
        font-weight: 500;
        letter-spacing: -1px;
        color: white;
        text-align: center;

        @media (max-width: $extrasmall) {
            font-size: 30px;
        }
    }

    .content {
        margin-top: 80px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: relative;

        .grad {
            background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
            width: 100%;
            height: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            filter: blur(50px);

            @media (max-width: $small) {
                height: 150px;
                filter: blur(100px);
            }

            @media (max-width: $mini) {
                height: 50%;
                filter: blur(200px);
            }

            z-index: 0;
        }

        .ft {
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 20px;
            z-index: 1;

            .imgwrap {
                background: rgba(255, 255, 255, 0.095);
                box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
                border-radius: 26px;
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50px;
                    height: auto;
                }
            }

            .desc {
                color: white;
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                padding-top: 24px;
                text-align: center;
            }
        }
    }
}

.discover {
    max-width: 1700px;
    margin: 0 20px;
    margin-top: 150px;
    box-sizing: border-box;

    .titlewrap {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $extrasmall) {
            flex-direction: column;
            justify-content: center;
        }

        h1 {
            font-size: 48px;
            font-weight: 500;
            line-height: 72px;
            letter-spacing: -1px;
            text-align: left;

            @media (max-width: $mini) {
                font-size: 30px;
            }
        }

        a {
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: -1px;
            background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
            padding: 5px 40px;
            border-radius: 10px;

            @media (max-width: $mini) {
                font-size: 20px;
            }
        }
    }

    .aucitonswrap {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        .auction {
            width: $aucitonsize;
            display: flex;
            flex-direction: column;
            margin-bottom: 40px;
            margin-left: 10px;
            margin-right: 10px;

            @media (max-width: $extrasmall) {
                width: $aucitonsizesmall;
            }

            .imgwrap {
                width: 100%;
                height: $aucitonsize;
                position: relative;

                @media (max-width: $extrasmall) {
                    height: $aucitonsizesmall;
                }

                img {
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    &:first-child {
                        filter: blur(20px);
                    }
                }
            }

            .pricewrap {
                margin-top: 24px;
                display: flex;
                justify-content: space-between;
                color: white;

                p {
                    font-family: Poppins;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;
                    padding: 0 5px;
                }
            }

            .line {
                border: 1px solid #C4C4C4;
                margin-top: 16px;
                margin-bottom: 24px;
            }

            .timeleft {
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media (max-width: $extrasmall) {
                    flex-direction: column;
                    gap: 10px;
                }

                p {
                    color: $litegray;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;

                    span {
                        color: white;
                    }
                }

                a {
                    padding: 3px 24px;
                    border: 1px solid #E2E2E2;
                    box-sizing: border-box;
                    border-radius: 8px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0px;
                    text-align: left;

                }
            }
        }

        .discoveritem {
            display: none;

            &.show {
                display: flex;
            }
        }
    }

    .showbtnwrap {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }

    .showmore {
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 1.5px;
        border: 1px solid #fff;
        color: #fff;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 12px 40px;
        background-color: transparent;
        cursor: pointer;

    }
}

footer {
    margin-top: 160px;

    .contentwrap {
        max-width: 100%;
        min-height: 175px;
        border-top: 1px solid #F2F2F2;
        margin: 0 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $small) {
            flex-direction: column;
            justify-content: center;
            gap: 20px;
        }

        .author {
            p {
                font-size: 24px;
                font-weight: 400;
                line-height: 36px;
                letter-spacing: 0em;
                color: #fff;
                text-align: center;

                span {
                    font-weight: 700;
                    font-style: normal;
                    background: linear-gradient(93.51deg, #9B51E0 2.84%, #3081ED 99.18%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
        }

        .logowrap {
            ion-icon {
                color: #fff;
                width: 32px;
                height: 32px;
                padding: 0 15px;
                cursor: pointer;

                &:first-child {
                    padding-left: 0;
                    padding-right: 15px;
                }
            }
        }
    }
}