$litegray: #BCBCBC;
$mainbackground: #1F1D2B;
$neonpink: #FB37FF;
$neonblue: #1BB2DE;

$extralarge: 1200px;
$large: 992px;
$medium: 768px;
$small: 600px;
$extrasmall: 425px;
$mini:350px;

$aucitonsize: 350px;
$aucitonsizesmall: 200px;